---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { SITE_NAME, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';

const notes = (await getCollection('notes')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout
	title="Index"
	description={SITE_DESCRIPTION}
>
	<section>
		<ul class="flex flex-col gap-2">
			{
				notes.map((note) => (
					<li>
						<a 
						  href={`/notes/${note.id}/`} 
						  class="group flex justify-between gap-2"
						>	
						  {note.data.title}
						</a>
					</li>
				))
			}
		</ul>
</BaseLayout>