/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */


:root {
	--black: 0, 0, 0;
	--white: 255, 255, 255;
	--light-gray-light: 245, 245, 245;  /*off-white*/
	--light-gray-dark: 95, 95, 95;     /*charcoal*/
	--gray-light: var(--light-gray-light);
	--gray-dark: var(--light-gray-dark);
	--purple-light: 175, 155, 215;
	--red-light: 250, 120, 120;

	/* Decorative */
	--gray-gradient: rgba(var(--gray-light), 0.5), #fff;
	--secondary: var(--red-light);

	/* Shadows */
	--box-shadow:
		0 2px 6px rgba(var(--gray-dark), 0.25),
		0 8px 24px rgba(var(--gray-dark), 0.33),
		0 16px 32px rgba(var(--gray-dark), 0.33);
	

	/* Light theme palette */
	--bg: rgb(var(--gray-light));
	--text: rgb(var(--gray-dark));
	--link: rgba(var(--secondary));
	--accent: rgb(var(--black));
}
html.dark {
	/* Decorative */
	--gray-gradient: rgba(var(--gray-dark), 0.5), #fff;
	--secondary: var(--purple-light);
	/* Shadows */
	--box-shadow:
		0 2px 6px rgba(var(--gray-light), 0.25),
		0 8px 24px rgba(var(--gray-light), 0.33),
		0 16px 32px rgba(var(--gray-light), 0.33);
	
	/* Dark theme palette */
	--bg: rgb(var(--gray-dark));
	--text: rgb(var(--gray-light));
	--link: rgba(var(--secondary));
	--accent: rgb(var((--gray-dark)));
}

@font-face {
	font-family: 'AtkinsonHyperlegibleNext';
	src: url('/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'AtkinsonHyperlegibleNext';
	src: url('/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.woff2') format('woff2');
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'AtkinsonHyperlegibleMono';
	src: url('/fonts/AtkinsonHyperlegibleMono-VariableFont_wght.woff2') format('woff2');
	font-display: swap;
}
header {
	max-width: calc(100% - 2em);
	margin: 0 auto;
	padding: 0 2em 2em;
	background: var(--bg);
}
body {
	font-family: 'AtkinsonHyperlegibleNext', sans-serif;
	background: var(--bg);
	background-size: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text);
	font-size: clamp(15px, 1.1vw, 16px);
}
main {
	max-width: calc(100% - 2em);
	margin: 0 auto;
	padding: 0 2em 2em;
	line-height: 1.5;
	text-align: left;
}
footer {
	max-width: calc(100% - 2em);
	margin: 0 auto;
	padding: 0 2rem 2rem;
	background: var(--bg);
}
h1, h2, h3, h4, h5, h6 {
	margin: 0.25rem 0 0.25rem 0;
	color: var(--text);
	line-height: 1.25;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, li a, .nav-links a, .icons a{
	text-decoration: none;
	color: var(--text);
	transition: color 0.0s ease;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, li a:hover, .nav-links a:hover, .icons a:hover{
	color: var(--accent);
	text-decoration: underline;
	transition: color 0.0s ease;
}
h1 {
	font-size: 3.05em;
}
h2 {
	font-size: 2.45em;
}
h3 {
	font-size: 1.95em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 800;
}
a {
	text-decoration: none;
	color: var(--link);
	transition: color 0.0s ease;
}
a:hover {
	color: var(--accent);
	text-decoration: underline;
	transition: color 0.0s ease;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
	display: block;
	margin: 0 auto;
	justify-content: center; 
	align-items: center;
}
code {
	font-family: 'AtkinsonHyperlegibleMono', monospace;
	font-size: clamp(14px, 1.1vw, 16px);
}
pre {
	padding: 0.5em;
	border-radius: 4px;
}
blockquote {
	padding: 0 0.5em;
	border-left: 4px solid var(--accent);
}
kbd {
	border-radius: 4px;
	border: 1px solid var(--accent);
	border-bottom: 2px solid var(--link);
	background-color: var(--bg);
	padding: 2px 6px;
	font-family: 'AtkinsonHyperlegibleMono', monospace;
	font-size: inherit;
	font-weight: 500;
	color: var(--text);
}
.line-0 {
	border: none;
	border-top: 1px dashed var(--accent);
	border-bottom: 1px dashed var(--accent);
}
.nav-links {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 1rem;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: space-between;
  align-items: center;
}
.info-text {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.job-title {
	color: var(--text);
	margin: 0;
}
.icons {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.header-container {
	margin: 0 auto;
	width: fit-content;
}
.header-svg {
	color: var(--link);
}
.header-content {
	color: var(--text);
}
.header-lines {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.line-1 {
	height: 0.125rem;
	background-color: var(--link);
}
.line-2 {
	height: 0.375rem;
	background-color: var(--link);
}
.line-3 {
	height: 0.75rem;
	background-color: var(--link);
}
.line-4 {
	height: 1.5rem;
	background-color: var(--link);
}
.line-5 {
	height: 3rem;
	background-color: var(--link);
}
.line-6 {
	height: 6rem;
	background-color: var(--link);
	display: flex;
	align-items: flex-end;
	padding: 1rem;
}
.divider {
	height: auto;
	border-left: 1px solid var(--link);
}
.bottom-spacer {
	display: flex;
	width: 100%;
}
.bottom-text-left,
.bottom-text-right {
	flex: 1; /* Pushes center span into the middle */
}
.bottom-text-center {
	text-align: center;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

@media (max-width: 636px) {
	.header-container {
		display: none;
	}
	.icons {
		display: none;
	}
}

