---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "My Bike Shed";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Under construction</h1>
  <h2>Work in progress...</h2>
  <img src="https://raw.githubusercontent.com/columcrowe/columcrowe.github.io/refs/heads/main/src/assets/WIP.gif" alt="wip" width="300" height="200" />
</BaseLayout>

