---
import BaseLayout from '../layouts/BaseLayout.astro';

const wikiUrl = "https://en.wikipedia.org/wiki/Law_of_triviality";
const linkedInUrl = "https://www.linkedin.com/in/colum-crowe/"
const pageTitle = "My Bike Shed"
---

<BaseLayout>
  <main>
    <h1><a href={wikiUrl}>{pageTitle}</a></h1>
	You've reached the digital attic where I <a href={linkedInUrl}>(linkedin.com/in/colum-crowe)</a> dump stuff onto the web.<br>
    Here's where I overthink all the <em>little things</em> I enjoy.<br>
    <h1>Under construction</h1>
    <h2>Work in progress...</h2>
    <img src="https://raw.githubusercontent.com/columcrowe/columcrowe.github.io/refs/heads/main/src/assets/WIP.gif" alt="wip" width="300" height="200" />
  </main>
</BaseLayout>