---
import BaseLayout from './../layouts/BaseLayout.astro';
import { SITE_NAME, SITE_DESCRIPTION } from './../consts';

const pageTitle = ""
---

<BaseLayout
	title={pageTitle}
	description={SITE_DESCRIPTION}
>
	
	<h3><a href="/notes/P1">D3, NodeJS</a></h3><br>
	
</BaseLayout>

