---
const today = new Date();
---

<footer>
	<div class="bottom-spacer">
		<span class="bottom-text-left"></span>
		<span class="bottom-text-center">&copy; {today.getFullYear()} Colum Crowe</span>
		<span class="bottom-text-right"></span>
	</div>
	<div class="line-3" data-aos="fade-up" data-aos-duration="2500"></div>
	<div class="line-4" data-aos="fade-up" data-aos-duration="3000"></div>
	<div class="line-5" data-aos="fade-up" data-aos-duration="3000"></div>
	<div class="line-6" data-aos="fade-up" data-aos-duration="3000" data-aos-delay="150"></div>
</footer>
