---
import "../styles/global.css";

const EMAIL = "colum.crowe@gmail.com";
---
<div class="nav-links">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href={`mailto:${EMAIL}`}>Email</a>
</div>